extends layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newPlacing.css')
  link(rel='stylesheet', href='/resources/css/newList.css')
block content
  div.editing-advert.nexchange-mainbg
    div.main-content
      div.head-text РЕДАКТИРОВАНИЕ ПРЕДЛОЖЕНИЯ
      div.form-placing
        form#placing-advert(method='post', action="edit.html", enctype="multipart/form-data")
          div.title-and-error
            input(type='text', placeholder="Заголовок", name="title", value="#{advertisementEditingForm.title}").form-text-button.hollow-text.advertisement-title
            if locals.titleError
                div.red-alert-text #{titleError}
          div.category-and-error
            select.select-category(name="category")
              for category in categories
                if (category.slug == advertisementEditingForm.category)
                  option.choosen-category(value='#{category.slug}', selected='selected', name="category") #{category.name}
                else
                  option.choosen-category(value='#{category.slug}', name="category") #{category.name}
            if locals.categoryError
              div.red-alert-text-category #{categoryError}
          div.placing-file-and-tags
            label.placing-file-choose.js-choose-image
              div.file-button-hollow-text.js-image-text Выберите новое изображение в формате .jpeg или .png
              input#image(name = "image", type="file", accept="image/jpeg,image/png").js-image-chosen
              p.error-image
            div.choose-tags-and-button
              input(type='text', placeholder="Теги").placing-tag-form-rounded-button.hollow-text.placing-tag-choose.js-added-tag
              a#add-tag.reg-rounded-button.file-choose-placing.placing-tag-add.js-add-tag ДОБАВИТЬ
              input(type='hidden', name="tags", value="#{advertisementEditingForm.tags}").js-tags-chosen
            div.image-and-delete-photo
              img.advert-photo.js-advert-photo(src='#{filePath.imagesPath}#{advertisementPhotoName}')
              p.deleting-text
                input(type='checkbox', name='isDeletePhoto').file-current-hollow-text.js-want-delete-photo
                | Удалить фото
            div.tags-and-textarea
              textarea(placeholder="Описание", name="text", value="#{advertisementEditingForm.text}").form-text-button.hollow-text.placing-textarea
                | #{advertisementEditingForm.text}
              div.chosen-tags.js-tags-placing
                for tag in tags
                  div.tags-and-cross
                    div.chosen-tag #{tag.name}
                    a.cross-circle.js-deleting-tag
              if locals.textError
                div.red-alert-text-textError #{textError}
              div.red-alert-text-tags.js-tags-error
          div.placing-end-button
            input(type="submit", placeholder="РЕДАКТИРОВАТЬ", value="ИЗМЕНИТЬ").rounded-button.adding-advert.small-tab-text
            input(type="hidden", name="advertisementId", value="#{advertisementEditingForm.advertisementId}")
block append customjs
  script(src="/resources/js/newEditing.js")
