extends cabinet/cabinetLayout
block append customcss
  link(rel='stylesheet', href='/resources/css/newEditProfile.css')
block content
  .content
    .user-container
      a.back-to-the-cab(href='#{uri.uri("/new/user/userprofile/searches.html")}') ЛИЧНЫЙ КАБИНЕТ
      p.change-info ИЗМЕНИТЬ ЛИЧНУЮ ИНФОРМАЦИЮ
      form(action = 'edit.html', method = 'post', commandName="editindUserInfoForm", enctype="multipart/form-data")
        div
          input.first-name-field(type='text', value='#{currentUser.firstName}', name='firstName')
          p.error-user-name #{errorFromFirstName}
        div
          input.last-name-field(type='text', value='#{currentUser.lastName}', name='lastName')
          p.error-user-name #{errorFromLastName}
        div.picture-block
          if (currentUser.avatar != null)
            img.user-avatar(src='/resources/images/avatars/#{currentUser.avatar}')
        div.choose-image-block
          label
            .choose-user-photo Выберите другой файл
            input#image.hide-file(type='file', name='image')
        div.delete-avatar-block
          input.delete-checkbox(type='checkbox', name = 'isDelete')
          p.checkbox-text УДАЛИТЬ АВАТАР
        div
          input.change-information(type='submit', value='СОХРАНИТЬ')