div.hidden
  div#new-exchange-popup
    form#exchange-form(method='get', action="exchange.html", commandName="exchangeForm").js-exchange-form(data-mainurl='#{uri.uri("/advertisement/exchange.html")}')
      input(type='hidden', name="idExchangeOwnerAdvertisement").hiddenOwnerAdvId
      input(type='hidden', name="idExchangeOfferAdvertisement").hiddenOfferAdvId
      input(type='hidden', name="exchangePropose").js-exchange-propose
      div.enter-head
        a#exchange-reject.vk-cross-circle
      div.exchange-form.nexchange-mainbg
        div.text-center Вы хотите получить :
        div.text-advert.js-exchange-adv
        div.header-text В обмен на :
        div.user-adverts-table
          table
            tbody
              for advertisement in userAdvertisements
                tr
                  td
                    label.for-radio(for='#{advertisement.id}')
                      input(type='radio', name='exchange-advert', id='#{advertisement.id}', data-offerAdvId='#{advertisement.id}').chosen-advert.js-chosen-advert
                      span.js-choose-advert
                  td
                    div.offer-advert
                      div.offer-advert-text #{advertisement.title}
                  td
                    img.exchange-adv-image(src='#{filePath.imagesPath}#{advertisement.photoFile}')
        div.red-alert-text-exchange.js-advert-error
        textarea(placeholder="Ваше сообщение владельцу", name="exchangePropose").form-rounded-button.hollow-text.offer-message
        div.end-form
          a(href="#").exchange-button.js-exchange-complete ОБМЕНЯТЬ
