div.hidden
  div#new-exchange-popup
    form#exchange-form(method='get', action="exchange.html", commandName="exchangeForm").js-exchange-form(data-url='#{uri.uri("/new/advertisement/list.html")}', data-mainurl='#{uri.uri("/new/advertisement/exchange.html")}')
      input(type='hidden', name="idExchangeOwnerAdvertisement").hiddenOwnerAdvId
      input(type='hidden', name="idExchangeOfferAdvertisement").hiddenOfferAdvId
      div.enter-head
        a#exchange-reject.vk-cross-circle
      div.exchange-form.nexchange-mainbg
        div.header-text ОБМЕНЯТЬ НА
        div.user-adverts-table
          table
            tbody
              for advertisement in userAdvertisements
                tr
                  td
                    input(type='radio', name='exchange-advert', id='#{advertisement.id}', data-offerAdvId='#{advertisement.id}').chosen-advert
                  td
                    div.offer-advert
                      div.offer-advert-text #{advertisement.title}
                  td
                    img.exchange-adv-image(src='/resources/images/user_images/#{advertisement.photoFile}')
        div.text-center.advert-chosen-text Вы выбрали:
        div.text-advert #{advertisement.title}
        textarea(placeholder="Ваше сообщение владельцу", name="exchangePropose").form-rounded-button.hollow-text.offer-message
        div.end-form
          input(type='submit', value='ПРЕДЛОЖИТЬ ОБМЕН').exchange-button.js-exchange-complete
