extends layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newList.css')
  link(rel='stylesheet', href='/resources/css/newExchange.css')
  link(rel='stylesheet', href='//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css')
block content
  .content
    .container.advertisement-list
      div
        form.searching-form(action = '#{uri.uri("/advertisement/list.html")}', method = 'get')
          input.tag-search(type='text', placeholder='Введите параметры поиска', maxlength='50', name='keyWords',
          value='#{keyWords}')
          select.category-search(name='currentCategory')

            option(selected='selected', disabled='disabled') Выберите Категорию
            if (currentCategory == allCategories)
              option.choosen-category(selected='selected', value='#{allCategories}') Все категории
            else
              option.choosen-category(value='#{allCategories}') Все категории
            for category in categories
              if (category.slug == currentCategory)
                option.choosen-category(selected='selected', value='#{category.slug}') #{category.name}
              else
                option.choosen-category(value='#{category.slug}') #{category.name}
          input.current-page(type='hidden', value='#{currentPage}')
          input.search(type='submit', value='НАЙТИ')
          p
            label(for='date-from') С
            input(type='text', class='date-from', name='dateFrom', value='#{dateFrom}')
            label(for='date-to') По
            input(type='text', class='date-to', name='dateTo', value='#{dateTo}')
          p.date-error #{dateError}
      .underneath
        .example
          | Например:
          a.monopoly(href='#') Монополия
          if (auth.isAuthenticated())
            a.save-search.js-save-search(href='#', data-url='#{uri.uri("/advertisement/list.html")}') СОХРАНИТЬ ПОИСК
      .row
        for advertisement in advertisements
          .advertisement
            if (advertisement.photoFile != "")
              img.adv-image(src='#{filePath.imagesPath}#{advertisement.photoFile}')
            else
              img.adv-image(src='#{filePath.imagesPath}no_photo.png')
            p.date #{advertisement.createdDateFormat}
            a.adv-name(href='#{uri.uri("/advertisement/view.html?id=" + advertisement.id)}') #{advertisement.title}
            .name-cover
              a.adv-owner(href='#') #{advertisement.user.firstName} #{advertisement.user.lastName}
            if (auth.isAuthenticated())
              if (advertisement.user != auth.getCurrentUser())
                a.change-button.js-newExchange.js-who-owner(href='#new-exchange-popup', data-adv-id='#{advertisement.id}') ОБМЕНЯТЬ
                include exchange
      .pages
        ul.page-list
          if (previous == true)
            li
              a.trine(href='#{uri.uri("/advertisement/list.html?currentPage=" + (currentPage + previousPages) + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory + "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') <
          if (pageList.first != null)
            if (currentPage == pageList.first)
              li
                a.page-link.mark(href='#{uri.uri("/advertisement/list.html?currentPage=" + pageList.first + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.first}
            else
              li
                a.page-link(href='#{uri.uri("/advertisement/list.html?currentPage=" + pageList.first + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.first}
          if (pageList.second != null)
            if (currentPage == pageList.second)
              li
                a.page-link.mark(href='#{uri.uri("/advertisement/list.html?currentPage=" + pageList.second + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.second}
            else
              li
                a.page-link(href='#{uri.uri("/advertisement/list.html?currentPage=" + pageList.second + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.second}
          if (pageList.third != null)
            if (currentPage == pageList.third)
              li
                a.page-link.mark(href='#{uri.uri("/advertisement/list.html?currentPage=" + pageList.third + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.third}
            else
              li
                a.page-link(href='#{uri.uri("/advertisement/list.html?currentPage=" + pageList.third + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.third}
          if (next == true)
            li
              a.trine(href='#{uri.uri("/advertisement/list.html?currentPage=" + nextPages + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') >
      .to-know
        | Узнавайте новости проекта первыми!
      .lower-case
        form.subscribe-form(data-url='#{uri.uri("/subscribe.html")}')
          input.e-mail-field(type='text', maxlength='50', placeholder='Ваш e-mail')
          input.e-mail-submit(type='submit', value='подписаться')
          p.error-pointer
block append customjs
  script(src="/resources/js/newExchangePopup.js")
  script(src="/resources/js/newSubscribe.js")
  script(src="/resources/js/newSavingSearch.js")
  script(src='/resources/js/calendar.js')
  script(src='//code.jquery.com/ui/1.11.1/jquery-ui.js')
