extends layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newList.css')
  link(rel='stylesheet', href='/resources/css/newExchange.css')
block content
  .content
    .container.advertisement-list
      div
        form.searching-form(action = '#{uri.uri("/new/advertisement/list.html")}', method = 'get')
          input.tag-search(type='text', placeholder='Введите параметры поиска', maxlength='50', name='keyWords',
          value='#{keyWords}')
          select.category-search(name='currentCategory')

            option(selected='selected', disabled='disabled') Выберите Категорию
            if (currentCategory == "games clothes notclothes")
              option.choosen-category(selected='selected', value='games clothes notclothes') Все категории
            else
              option.choosen-category(value='games clothes notclothes') Все категории
            if (currentCategory == 'games')
              option.choosen-category(selected='selected', value='games') Игры
            else
              option.choosen-category(value='games') Игры
            if (currentCategory == 'clothes')
              option.choosen-category(selected='selected', value='clothes') Одежда
            else
              option.choosen-category(value='clothes') Одежда
            if (currentCategory == 'notclothes')
              option.choosen-category(selected='selected', value='notclothes') Не одежда
            else
              option.choosen-category(value='notclothes') Не одежда
          input.current-page(type='hidden', value='#{currentPage}')
          input.search(type='submit', value='НАЙТИ')
      .underneath
        .example
          | Например:
          a.monopoly(href='#') Монополия
          if (auth.isAuthenticated())
            a.save-search.js-save-search(href='#', data-url='#{uri.uri("/new/advertisement/list.html")}') СОХРАНИТЬ ПОИСК
      .row
        for advertisement in advertisements
          .advertisement
            img.adv-image(src='/resources/images/#{advertisement.photoFile}')
            p.date #{advertisement.createdDateFormat}
            a.adv-name(href='#{uri.uri("/new/advertisement/view.html?id=" + advertisement.id)}') #{advertisement.title}
            .name-cover
              a.adv-owner(href='#') #{advertisement.user.firstName} #{advertisement.user.lastName}
            a.change-button.js-newExchange.js-who-owner(href='#new-exchange-popup') ОБМЕНЯТЬ
            include exchange
      .pages
        ul.page-list
          if (previous == true)
            li
              a.trine(href='#{uri.uri("/new/advertisement/list.html?currentPage=" + (currentPage + previousPages) + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory)}') <
          if (pageList.first != null)
            if (currentPage == pageList.first)
              li
                a.page-link.mark(href='#{uri.uri("/new/advertisement/list.html?currentPage=" + pageList.first + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory)}') #{pageList.first}
            else
              li
                a.page-link(href='#{uri.uri("/new/advertisement/list.html?currentPage=" + pageList.first + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory)}') #{pageList.first}
          if (pageList.second != null)
            if (currentPage == pageList.second)
              li
                a.page-link.mark(href='#{uri.uri("/new/advertisement/list.html?currentPage=" + pageList.second + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory)}') #{pageList.second}
            else
              li
                a.page-link(href='#{uri.uri("/new/advertisement/list.html?currentPage=" + pageList.second + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory)}') #{pageList.second}
          if (pageList.third != null)
            if (currentPage == pageList.third)
              li
                a.page-link.mark(href='#{uri.uri("/new/advertisement/list.html?currentPage=" + pageList.third + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory)}') #{pageList.third}
            else
              li
                a.page-link(href='#{uri.uri("/new/advertisement/list.html?currentPage=" + pageList.third + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory)}') #{pageList.third}
          if (next == true)
            li
              a.trine(href='#{uri.uri("/new/advertisement/list.html?currentPage=" + nextPages + "&keyWords=" + keyWords + "&currentCategory=" + currentCategory)}') >
      .to-know
        | Узнавайте нововости проекта первыми!
      .lower-case
        form.subscribe-form(data-url='#{uri.uri("/new/main.html")}')
          input.e-mail-field(type='text', maxlength='50', placeholder='Ваш e-mail')
          input.e-mail-submit(type='submit', value='подписаться')
          p.error-pointer
block append customjs
  script(src="/resources/js/newExchangePopup.js")
  script(src="/resources/js/newSubscribe.js")
  script(src="/resources/js/newSavingSearch.js")
