extends layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newMain.css')
  link(rel='stylesheet', href='/resources/css/newList.css')
  link(rel='stylesheet', href='/resources/css/newExchange.css')
block content
  .content
    .container.head-things
      p.change-text ЗДЕСЬ ВЫ МОЖЕТЕ ОБМЕНЯТЬ
      .row1
        for category in categories
          .games.col-md-4
            a.game-link(href='#{uri.uri("/advertisement/list.html?currentCategory=" + category.slug)}')
              img.games-image(src='/resources/images/' + category.slug + ".png")
              .games-cover
                a.category-note(href='#{uri.uri("/advertisement/list.html?currentCategory=" + category.slug)}')
                  | #{stringActions.toUpperCase(category.name)}
    .container.main-page
      p.many-other ... И МНОГОЕ ДРУГОЕ!
      .row
        for advertisement in advertisements
          .advertisement
            if (advertisement.photoFile != "")
              img.adv-image(src='#{filePath.imagesPath}#{advertisement.photoFile}')
            else
              img.adv-image(src='#{filePath.imagesPath}no_photo.png')
            p.date #{advertisement.createdDateFormat}
            a.adv-name(href='#{uri.uri("/advertisement/view.html?id=" + advertisement.id)}') #{advertisement.title}
            .name-cover
              div.adv-owner #{advertisement.user.firstName} #{advertisement.user.lastName}
              if (auth.isAuthenticated())
                if (advertisement.user != auth.getCurrentUser())
                  a.change-button.js-newExchange.js-who-owner(href='#new-exchange-popup', data-adv-id='#{advertisement.id}') ОБМЕНЯТЬ
                  include exchange
      a.show-all(href='#{uri.uri("/advertisement/list.html")}') ПОСМОТРЕТЬ ВСЕ ПРЕДЛОЖЕНИЯ
      p.about О ПРОЕКТЕ
      p.text-about
        | У вас много настольных игр, и вам уже надоело играть в одно и то же? Или, может быть, вы хотите поделиться хорошей музыкальной литераурой? А может быть, у вас есть интересные книги, которые вы уже перечитали миллион раз, и хочется чего-то новенького? Тогда вы попали по адресу!
      .exchange-block
        p.project NATURAL EXCHANGE
        p.text-about
          | -  это место, где обменивают настольные игры, художественную и музыкальную литературу, музыкальные инструменты и многое другое. Все просто. Вы находите на сайте понравившуюся вам вешь, и предлагаете ее владельцу обменяться. Если он согласен, вы обмениваетесь, и подтверждаете обмен.
      p.edification Обменивайтесь, оставляйте пользователям отзывы и оценки, и будет вам счастье!
      p.news УЗНАВАЙТЕ НОВОСТИ ПРОЕКТА ПЕРВЫМИ!
      .subscribe-cover
        form.subscribe-form(data-url='#{uri.uri("/subscribe.html")}')
          input.for-email(type='text', placeholder='Ваш e-mail')
          input.submit-email(type='submit', value='ПОДПИСАТЬСЯ')
          p.errorLk
block append customjs
  script(src="/resources/js/newExchangePopup.js")
  script(src="/resources/js/newSubscribe.js")