extends layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newList.css')
  link(rel='stylesheet', href='/resources/css/newModer.css')
  link(rel='stylesheet', href='//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css')
block content
  .content
    .container.advertisement-list
      p.list-title МОДЕРАЦИЯ ОБЪЯВЛЕНИЙ
      div
        form.searching-form(action = '#{uri.uri("/moderator/advertisementList.html")}', method = 'get')
          input.adv-search(type='text', placeholder='Поиск', maxlength='50', name='keyWords',
          value='#{keyWords}')
          if (isDeleted)
            input#delete-checkbox(type='checkbox', name='isDeleted', checked="checked")
          else
            input#delete-checkbox(type='checkbox', name='isDeleted')
          label.delete-checkbox-text(for='delete-checkbox') ПОКАЗАТЬ УДАЛЕННЫЕ
          input.current-page(type='hidden', value='#{currentPage}')
          input.search(type='submit', value='НАЙТИ')
          p
          label.date-text(for='date-from') Показывать объявления с
          input.date-input(type='text', class='date-from', name='dateFrom', value='#{dateFrom}')
          label.date-text(for='date-to') и до
          input.date-input(type='text', class='date-to', name='dateTo', value='#{dateTo}')
          p.date-error #{dateError}
      .row
        for advertisement in advertisements
          .advertisement
            img.adv-image(src='#{filePath.imagesPath}#{advertisement.photoFile}')
            div.date-cover
              p.date #{advertisement.createdDateFormat}
            div.adv-name-cover
              a.adv-name(href='#{uri.uri("/advertisement/view.html?id=" + advertisement.id)}') #{advertisement.title}
            .name-cover
              a.adv-owner(href='#{uri.uri("/user/showUser.html?id=" + advertisement.user.id)}') #{advertisement.user.firstName} #{advertisement.user.lastName}
            if (!isDeleted)
              a.delete-button.js-moder-action(href='#', data-adv-id='#{advertisement.id}', data-dest-url='#{uri.uri("/advertisement/delete.html")}') УДАЛИТЬ
            else
              a.restore-button.js-moder-action(href='#', data-adv-id='#{advertisement.id}', data-dest-url='#{uri.uri("/advertisement/delete.html")}') ВОССТАНОВИТЬ
      if (pageCount != 1)
        .pages
          ul.page-list
            if (previous == true)
              li
                a.trine(href='#{uri.uri("/moderator/advertisementList.html?currentPage=" + (currentPage + previousPages) + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted) + "&dateFrom=" + dateFrom + "&dateTo=" + dateTo}') <
            if (pageList.first != null)
              if (currentPage == pageList.first)
                li
                  a.page-link.mark(href='#{uri.uri("/moderator/advertisementList.html?currentPage=" + pageList.first + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.first}
              else
                li
                  a.page-link(href='#{uri.uri("/moderator/advertisementList.html?currentPage=" + pageList.first + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.first}
            if (pageList.second != null)
              if (currentPage == pageList.second)
                li
                  a.page-link.mark(href='#{uri.uri("/moderator/advertisementList.html?currentPage=" + pageList.second + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.second}
              else
                li
                  a.page-link(href='#{uri.uri("/moderator/advertisementList.html?currentPage=" + pageList.second + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.second}
            if (pageList.third != null)
              if (currentPage == pageList.third)
                li
                  a.page-link.mark(href='#{uri.uri("/moderator/advertisementList.html?currentPage=" + pageList.third + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.third}
              else
                li
                  a.page-link(href='#{uri.uri("/moderator/advertisementList.html?currentPage=" + pageList.third + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.third}
            if (next == true)
              li
                a.trine(href='#{uri.uri("/moderator/advertisementList.html?currentPage=" + nextPages + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') >
      .low-space
block append customjs
  script(src='/resources/js/newModerActions.js')
  script(src='/resources/js/calendar.js')
  script(src='//code.jquery.com/ui/1.11.1/jquery-ui.js')
