extends layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newList.css')
  link(rel='stylesheet', href='//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css')
block content
  .content
    .container.advertisement-list
      div
        form.searching-form(action = '#{uri.uri("/new/moderator/advertisementList.html")}', method = 'get')
          input.tag-search(type='text', placeholder='Введите параметры поиска', maxlength='50', name='keyWords',
          value='#{keyWords}')
          select.category-search(name='isDeleted')
            if (isDeleted)
              option.choosen-category(selected='selected', value='true') Удаленные
              option.choosen-category(value='false') Не Удаленные
            else
              option.choosen-category(value='true') Удаленные
              option.choosen-category(selected='selected', value='false') Не Удаленные
          input.current-page(type='hidden', value='#{currentPage}')
          input.search(type='submit', value='НАЙТИ')
          p
          label(for='date-from') С
          input(type='text', class='date-from', name='dateFrom', value='#{dateFrom}')
          label(for='date-to') По
          input(type='text', class='date-to', name='dateTo', value='#{dateTo}')
          p.date-error #{dateError}
      .underneath
      .row
        for advertisement in advertisements
          .advertisement
            img.adv-image(src='/resources/images/user_images/#{advertisement.photoFile}')
            p.date #{advertisement.createdDateFormat}
            a.adv-name(href='#{uri.uri("/new/advertisement/view.html?id=" + advertisement.id)}') #{advertisement.title}
            .name-cover
              a.adv-owner(href='#') #{advertisement.user.firstName} #{advertisement.user.lastName}
            if (!isDeleted)
              a.delete-button.js-moder-action(href='#', data-adv-id='#{advertisement.id}', data-dest-url='#{uri.uri("/new/moderator/advertisementList.html")}') УДАЛИТЬ
            else
              a.restore-button.js-moder-action(href='#', data-adv-id='#{advertisement.id}', data-dest-url='#{uri.uri("/new/moderator/advertisementList.html")}') ВОССТАНОВИТЬ
      .pages
        ul.page-list
          if (previous == true)
            li
              a.trine(href='#{uri.uri("/new/moderator/advertisementList.html?currentPage=" + (currentPage + previousPages) + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted) + "&dateFrom=" + dateFrom + "&dateTo=" + dateTo}') <
          if (pageList.first != null)
            if (currentPage == pageList.first)
              li
                a.page-link.mark(href='#{uri.uri("/new/moderator/advertisementList.html?currentPage=" + pageList.first + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.first}
            else
              li
                a.page-link(href='#{uri.uri("/new/moderator/advertisementList.html?currentPage=" + pageList.first + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.first}
          if (pageList.second != null)
            if (currentPage == pageList.second)
              li
                a.page-link.mark(href='#{uri.uri("/new/moderator/advertisementList.html?currentPage=" + pageList.second + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.second}
            else
              li
                a.page-link(href='#{uri.uri("/new/moderator/advertisementList.html?currentPage=" + pageList.second + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.second}
          if (pageList.third != null)
            if (currentPage == pageList.third)
              li
                a.page-link.mark(href='#{uri.uri("/new/moderator/advertisementList.html?currentPage=" + pageList.third + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.third}
            else
              li
                a.page-link(href='#{uri.uri("/new/moderator/advertisementList.html?currentPage=" + pageList.third + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') #{pageList.third}
          if (next == true)
            li
              a.trine(href='#{uri.uri("/new/moderator/advertisementList.html?currentPage=" + nextPages + "&keyWords=" + keyWords + "&isDeleted=" + isDeleted+ "&dateFrom=" + dateFrom + "&dateTo=" + dateTo)}') >
      .low-space
block append customjs
  script(src='/resources/js/newModerActions.js')
  script(src='/resources/js/calendar.js')
  script(src='//code.jquery.com/ui/1.11.1/jquery-ui.js')
