extends cabinet/cabinetLayout
block append customcss
  link(rel='stylesheet', href='/resources/css/newSearches.css')
block information
  p.saveSearchText СОХРАНЕННЫЕ ПАРАМЕТРЫ ПОИСКА
    for searchVariant in searchVariants
      .savingSearch
        a.deleteSearch(href='#{uri.uri("/user/userprofile/deleteSearch.html?id=" + searchVariant.id)}')
          img(src='/resources/images/deleteNotActive.png')
        a.editSearch(href='#{uri.uri("/user/userprofile/editSearch.html?id=" + searchVariant.id)}')
          img(src='/resources/images/editActive.png')
        .nameAndCategory
          a.thingName(href='#{uri.uri("/advertisement/list.html?keyWords=" + coder.encode(searchVariant.keyWords) + "&currentCategory=" + searchVariant.stringOfCategorySlugs())}') #{searchVariant.keyWords}
          p.categoryName #{stringActions.toUpperCase(searchVariant.stringOfCategoryNames())}
      p.spacer
        | ___________________________________________________________________________________________

