extends cabinet/cabinetLayout
block append customcss
  link(rel='stylesheet', href='/resources/css/newUserAdvertisement.css')
block information
  for advertisement in advertisements
    div.advertisement
      div.advertisement-image
        img.little-image(src='#{filePath.imagesPath}#{advertisement.photoFile}')
      div.advertisement-information
        div
          p.advertisement-date #{advertisement.createdDateFormat}
          a.delete-advertisement.js-delete-advertisement(href='#', data-adv-id='#{advertisement.id}', data-dest-url='#{uri.uri("/advertisement/delete.html")}')
            img(src='/resources/images/orangeRood.png')
          a.edit-advertisement(href='#{uri.uri("/advertisement/edit.html?id=" + advertisement.id)}')
            img(src='/resources/images/orangeEdit.png')
        div.advertisement-name
          a.advertisement-link(href='#{uri.uri("/advertisement/view.html?id=" + advertisement.id)}') #{advertisement.title}
block append customjs
  script(src="/resources/js/newDeleteAdvertisement.js")