extends layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newView.css')
  link(rel='stylesheet', href='/resources/css/newExchange.css')
block append content
  .content
    .title #{advertisement.getTitle()}
    .advertisement-container
      .information
        .category
          | Категрия:
          a.concrete-category #{category.getReallyName()}
        if (tags.size() != 0)
          .tags
            | Теги:
            for tag in tags
              a.tag(href='#{uri.uri("/new/advertisement/list.html?keyWords=" + tag.getName())}') #{tag.getName()}
        .description
          | Описание:
          p.current-description #{advertisement.getText()}
        .who-change
          | Меняет:
          a.change-user(href='#') #{fullUserName}
      .picture
        img.thing-picture(src='/resources/images/user_images/#{advertisement.getPhotoFile()}')
    .change-button
      a.change.js-newExchange(href='#new-exchange-popup') ОБМЕНЯТЬ
    include exchange
block append customjs
  script(src="/resources/js/newExchangePopup.js")

