extends layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newView.css')
  link(rel='stylesheet', href='/resources/css/newExchange.css')
block append content
  .content
    .title #{advertisement.title}
    .advertisement-container
      .information
        .category
          | Категория:
          a.concrete-category #{stringActions.toUpperCase(category.name)}
        if (tags.size() != 0)
          .tags
            | Теги:
            for tag in tags
              a.tag(href='#{uri.uri("/advertisement/list.html?keyWords=" + coder.encode(tag.name))}') #{tag.name}
        .description
          | Описание:
          div.current-description #{advertisement.text}
        .who-change
          | Меняет:
          a.change-user(href='#') #{fullUserName}
        if (advertisement.getUser() == auth.getCurrentUser())
          a.tag(href='#{uri.uri("/advertisement/delete.html?id=" + advertisement.id)}') УДАЛИТЬ ПРЕДЛОЖЕНИЕ
          a.tag(href='#{uri.uri("/advertisement/edit.html?id=" + advertisement.id)}') РЕДАКТИРОВАТЬ ПРЕДЛОЖЕНИЕ
        else if (auth.isUserModerator())
          a.tag(href='#{uri.uri("/advertisement/delete.html?id=" + advertisement.id)}') УДАЛИТЬ ПРЕДЛОЖЕНИЕ
      .picture
        img.thing-picture(src='#{filePath.imagesPath}#{advertisement.photoFile}')
    .change-button
      if (auth.isAuthenticated())
        if (advertisement.user != auth.getCurrentUser())
          a.change.js-newExchange.js-who-owner(href='#new-exchange-popup', data-adv-id='#{advertisement.id}') ОБМЕНЯТЬ
          include exchange
block append customjs
  script(src="/resources/js/newExchangePopup.js")

