extends layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newView.css')
  link(rel='stylesheet', href='/resources/css/newExchange.css')
block append content
  .content
    .title #{advertisement.title}
    .advertisement-container
      .information
        .category
          | Категория:
          a.concrete-category #{stringActions.toUpperCase(category.name)}
        if (tags.size() != 0)
          .tags
            | Теги:
            for tag in tags
              a.tag(href='#{uri.uri("/new/advertisement/list.html?keyWords=" + tag.name)}') #{tag.name}
        .description
          | Описание:
          p.current-description #{advertisement.text}
        .who-change
          | Меняет:
          a.change-user(href='#') #{fullUserName}
        if (auth.isUserModerator())
            a.tag(href='#{uri.uri("/new/advertisement/delete.html?id=" + advertisement.id)}') УДАЛИТЬ ОБЪЯВЛЕНИЕ
        else if (advertisement.getUser() == auth.getCurrentUser())
            a.tag(href='#{uri.uri("/new/advertisement/delete.html?id=" + advertisement.id)}') УДАЛИТЬ ОБЪЯВЛЕНИЕ
            a.tag(href='#{uri.uri("/new/advertisement/edit.html?id=" + advertisement.id)}') РЕДАКТИРОВАТЬ ОБЪЯВЛЕНИЕ
      .picture
        img.thing-picture(src='/resources/images/user_images/#{advertisement.photoFile}')
    .change-button
      a.change.js-newExchange(href='#new-exchange-popup') ОБМЕНЯТЬ
    include exchange
block append customjs
  script(src="/resources/js/newExchangePopup.js")

