extends ../layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newCabinet.css')
block content
  .content
    .user-container
      .user-information
        if (currentUser.getAvatar() != null)
          img.user-image(src='/resources/images/avatars/' + currentUser.getAvatar())
        p.user-name
          | #{currentUser.firstName}
          br
          | #{currentUser.lastName}
        p.user-email-cover
          a.user-email(href='#') #{currentUser.email}
        p.edit-user-cover
          a.edit-user-profile(href='#{uri.uri("/new/user/userprofile/edit.html")}') Редактировать
        p.fix-text Дата регистрации:
        p.register-date #{currentUser.getCreatedDateFormat()}
      .right-block
        .user-page
          ul.pages
            if (userPage == "searches.html")
              li
                a.inset.substract-inset(href='#{uri.uri("/new/user/userprofile/searces.html")}') ЛИЧНЫЙ КАБИНЕТ
              li
                a.inset(href='#{uri.uri("/new/user/userprofile/advertisements.html")}') МОИ ОБЪЯВЛЕНИЯ
            else
              li
                a.inset(href='#{uri.uri("/new/user/userprofile/searches.html")}') ЛИЧНЫЙ КАБИНЕТ
              li
                a.inset.substract-inset(href='#{uri.uri("/new/user/userprofile/advertisements.html")}') МОИ ОБЪЯВЛЕНИЯ
        block information