.head-component
  if (auth.isUserModeratorOrAdministrator())
    .header.admin-size
      if auth.isAuthenticated()
        a(href='#{uri.uri("/user/userprofile/searches.html")}').entire-auth #{auth.getCurrentUserFirstAndLastNames()}
        img.head-user-avatar(src='#{filePath.avatarsPath}#{auth.getCurrentUser().avatar}')
      include mainHeadBlock
  else
    .header.common-size
      if auth.isAuthenticated()
        a(href='#{uri.uri("/user/userprofile/searches.html")}').entire-auth #{auth.getCurrentUserFirstAndLastNames()}
        img.head-user-avatar(src='#{filePath.avatarsPath}#{auth.getCurrentUser().avatar}')
      include mainHeadBlock