.right-top-links
  if auth.isAuthenticated()
    a(href='#{uri.uri("/user/logout.html")}').exit
  else
    a(href='#entry-form').entire.js-entry Вход
    | /
    a(href='#registration-form').registration.js-registration Регистрация
.left-top-logo
  a(href='#{uri.uri("/main.html")}')
    img.top-image(src='/resources/images/logotype.png', align='left')
  a.n-exchange(href='#{uri.uri("/main.html")}')
    | NATURAL
    br
    | EXCHANGE
.main-links
  if isAuthComplete
    p Вы успешно зарегистрировались на нашем сайте. Мы очень Вам рады!
  ul.menu-list
    if (auth.isAuthenticated())
      li
        a.add-advertisement(href='#{uri.uri("/advertisement/placing.html")}') ДОБАВИТЬ ПРЕДЛОЖЕНИЕ
    else
      li
        a.add-advertisement.js-entry(href='#entry-form') ДОБАВИТЬ ПРЕДЛОЖЕНИЕ
    li
      a.common-link(href='#{uri.uri("/advertisement/list.html")}') ВСЕ ПРЕДЛОЖЕНИЯ
    li
      a.common-link(href='#{uri.uri("/main.html")}') ГЛАВНАЯ
  if (auth.isUserModeratorOrAdministrator())
    ul.menu-list
      li
        a.boss-link(href='#{uri.uri("/moderator/userList.html")}') Управление пользователями
      li
        a.boss-link(href='#{uri.uri("/moderator/advertisementList.html")}') Модерация объявлений

