.right-top-links
  if auth.isAuthenticated()
    a(href='#{uri.uri("/new/user/userprofile/searches.html")}').entire Личный кабинет
    | /
    a(href='#{uri.uri("/user/logout.html")}').registration Выход
  else
    a(href='#entry-form').entire.js-entry Вход
    | /
    a(href='#registration-form').registration.js-registration Регистрация
.left-top-logo
  img.top-image(src='/resources/images/logotype.png', align='left')
  .n-exchange
    | NATURAL
    br
    | EXCHANGE
.main-links
  if isAuthComplete
    p Вы успешно зарегистрировались на нашем сайте. Мы очень Вам рады!
  ul.menu-list
    if (auth.isAuthenticated())
      li
        a.add-advertisement(href='#{uri.uri("/new/advertisement/placing.html")}') ДОБАВИТЬ ПРЕДЛОЖЕНИЕ
    else
      li
        a.add-advertisement.js-entry(href='#entry-form') ДОБАВИТЬ ПРЕДЛОЖЕНИЕ
    li
      a.common-link(href='#{uri.uri("/new/advertisement/list.html")}') ВСЕ ПРЕДЛОЖЕНИЯ
    li
      a.common-link(href='#{uri.uri("/new/main.html")}') ГЛАВНАЯ
  if (auth.isUserModeratorOrAdministrator())
    ul.menu-list
      li
        a.common-link(href='#') Модерирование
      li
        a.common-link(href='#') Администрирование

